 body {
            margin: 0px;
            padding: 0px;
        }

        

        div {
            width: 400px;
            padding: 10px 0;
            text-align: center;
            margin: 0 auto;
            background-color: greenyellow;
        }

        label {
            display: inline-block;
            ;
            width: 70px;
            text-align: center;
        }

        input {
            margin-bottom: 10px;
            width: 200px
        }

        button {
            margin: 10px 0
        }