#siteTitleArea {
   width: 100%;
   position: fixed;
}
#siteTitle {
   width: 1200px;
   height: 100px;
}
#siteTitle a {
   color: white;
   font-size: 25pt;
   font-family: "americano";
}
#siteContentArea {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   color: white;
   padding-top: 100px;
}
#siteMenuArea {
   width: 100%;
   height: 50px;
   background-color: #ffffffaa;
   position: fixed;
   bottom: 0px;
}
#siteMenuArea img {
   height: 35px;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 5px;
   cursor: pointer;
}
