div#MenuBBS {
    font-family: sans-serif;
    padding: 15px;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #000;
    background-color: #fff;
}

div#MenuBBS > div:not(table) {
    margin-bottom: 10px;
    font-weight: bold;
}

#MenuBBS input {
    width: 98%;
    padding: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
}

#MenuBBS input:focus {
    border-color: red;
    outline: none;
}

#MenuBBS hr {
    height: 1px;
    background-color: #000;
    margin: 15px 0;
    border: none;
}

#MenuBBS table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

 

#MenuBBS table th {
    background-color: #eee;
    font-weight: bold;
}

#MenuBBS ul {overflow: auto;}

#MenuBBS li{ float:left;  margin-right:10px}