#loginSystem {
   width: 300px;
   height: 400px;
   position: fixed;
   background-color: #ffffffaa;
   transition: all 0.2s ease-in;
}
#loginSystem td {
   padding: 8px;
}
#techArea {
   font-family: "americano";
}
#loginForm {
   width: 95%;
   height: 130px;
}
#loginForm input {
   border: black solid 3px;
   width: 95%;
   height: 30px;
   background-color: transparent;
   font-size: 13pt;
   padding: 5px;
}
#loginForm input::placeholder {
   color: #00000077;
}
#loginForm button{
    border: none;
    background-color: transparent;
    font-size: 12pt;
}
#loginForm .imgTd{
   width: 60px;
}
#loginForm .imgTd img{
   max-width: 55px;
}
#loginForm .idTd{
   font-size: 14pt;
   font-weight: 900;
   padding-left: 5px;
}