@font-face {
   font-family: "americano";
   src: url("./americano.ttf");
}
@font-face {
   font-family: "djdg";
   src: url("./djdg.ttf");
}
a {
   text-decoration: none;
}
input {
   font-family: "djdg";
   outline: none;
}
input::placeholder {
   font-family: "americano";
}
button {
   font-family: "americano";
   cursor: pointer;
   outline: none;
}
