
#globalNavi {
  background-color: #333;
  padding: 0;
}

#globalNavi ul {
  list-style: none;
  margin: 0;
  padding: 0;
   
}

#globalNavi li {
  display: inline-block;
}

#globalNavi a {
  display: block;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
}

#globalNavi a:hover {
  background-color: #444;
  color: #ffca28;  
}

#globalNavi a.active {
  color: yellow;
  font-weight: bold;
}